<nav class="col-12 mt-2 mb-4 mx-auto navbar navbar-expand sticky-top nav4">
  <ul class="w-100 navbar-nav nav-justified">
    <li class="nav-item">
      <%= link_to "新規投稿", new_post_path, class: "text-info" %>
    </li>
    <li class="nav-item">
      <%= link_to "投稿一覧", posts_path, class: "text-info",data: {"turbolinks"=>false} %>
    </li>
  </ul>
</nav>