<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-9 col-lg-6 mx-auto text-light">
      <%= render "public/posts/top_navbar", view: "post", top_nav: "posts" %>
      
      <!--投稿データが0件の時-->
      <% if @posts.count == 0 %>
        <!--検索を行う前の遷移の時-->
        <% if @search.nil? %>
          <h5 class="mt-5 text-center">投稿データがありません</h5>
          
        <% else %>
          <h5 class="mt-5 text-center">検索結果がありません</h5>
        <% end %>
        
      <!--投稿データが1件以上の時-->
      <% else %>
        <!--投稿一覧表示-->
        <%= render "public/posts/index", posts: @posts, view: "post" %>
      <% end %>
    </div>
  </div>
</div>

<!--画面下部メニューバー-->
<%= render "layouts/bottom_navbar", bottom_nav: "post" %>