<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-9 col-lg-6 mx-auto text-light">
      <%= render "post_top_navbar" %>
      
      <% if @posts.count == 0 %>
        <h5 class="mt-5 text-center">投稿データがありません</h5>
      <% end %>
      
      <% @posts.each do |post| %>
        <div class="card mb-4 text-light border-3 border-secondary">
          <div class="card-header">
            <div class="row">
              <div class="col-4"><%= image_tag post.user.get_profile_image(30,30), class: "rounded-circle" %></div>
              <div class="col-8 text-start"><%= post.user.user_name %></div>
            </div>
          </div>
          <div class="card-body">
            <%= post.message %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>