// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.top-image {
  min-height: 100vh;
  background-image: url('夜空3.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  
  .top-text {
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.8);
  }
}

// スマホサイズのみ適用
@media screen and (max-width:576px) {
  .top-image {
    background-size: auto;
  }
}