// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// 経験値バー
.experience_bar {
  height: 25px;
  border-radius: 4px;
}

// 経験値割合
.experience {
  height: 100%;
  border-radius: 4px;
}

// ランキング画面の王冠
td .rank_1 {
  color: #ccb505;
}

td .rank_2 {
  color: #c9caca;
}

td .rank_3 {
  color: #ac6b25;
}