<nav class="col-12 mb-4 pb-1 mx-auto p-0 navbar navbar-expand sticky-top">
  <ul class="w-100 navbar-nav nav-justified">
    <li class="nav-item">
      <%= link_to "投稿通報", admin_post_reports_path, class: "h4 text-light" %>
    </li>
    <li class="nav-item">
      <%= link_to "レビュー通報", admin_review_reports_path, class: "h4 text-light" %>
    </li>
  </ul>
</nav>