<!--<div class="col-sm-12 col-md-8 col-lg-7 mx-auto px-sm-0 aaa">-->
<div class="top-image">
  <div class="container">
    <div class="row">
      <div class="col-sm-11 col-md-10 col-lg-8 mx-auto mt-5 py-4 top-text text-center rounded-lg">
        <p class="mb-4 h3">きらほし へようこそ!</p>
        当サイトは、星評価を通して他人からの相対評価を<br>
        気軽に知ることができるレビューサイトです。<br><br>
        星のように、あなたの人生を少しでも<br>明るくする助けになれば幸いです。<br>
        
        <%= link_to "ログイン / 新規登録", new_user_session_path, class: "btn btn-lg btn-info mt-5 col-6 rounded-pill" %><br>
        <%= link_to "ゲストログイン", root_path, 
            class: "btn btn-lg btn-outline-info my-4 col-6 bg-light rounded-pill border-1" %>
      </div>
    </div>
  </div>
</div>