<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 mx-auto mt-2 pt-4 text-light">
      <h3 class="mb-4 pb-2 px-3 border-start border-5 border-warning">管理テーブル</h3>
      
      
    </div>
  </div>
</div>

<!--画面下部メニューバー-->
<%= render "layouts/bottom_navbar", bottom_nav: "admin_user" %>