// Place all the styles related to the admin/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.admin-post-table .report-td {
  color: white;
  background-color: #333333;
  font-size: 20px;
}