<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-9 col-lg-6 mb-5 mx-auto pt-5 text-light">
      <!--投稿データが0件の時-->
      <% if @posts.count == 0 %>
        <h5 class="text-center">投稿データがありません</h5>
        
      <!--投稿データが1件以上の時-->
      <% else %>
        <!--投稿一覧表示-->
        <%= render "public/posts/index", posts: @posts, view: "review" %>
      <% end %>
    </div>
  </div>
</div>