/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, main {
  min-height:100vh;
}

header, main, .col-sm-12, .nav3, .card-body, .nav4 {
  background-color: #333333;
}

.card .card-header {
  background-color: #333333;
}

.navbar .navbar-brand {
  font-size: 24px;
}

.nav1 > .nav-item {
  font-size: 19px;
}

.nav2 .btn {
  color: white;
}

.nav2 .btn:hover {
  background-color: rgba(255, 255, 0, 0.7);
}

.nav3 .btn {
  color: white;
}

.modal-header {
  height: 55px;
}

.modal-save-btn  {
  width: 120px;
  -webkit-transform: skew(-15deg);
  background-image: linear-gradient(50deg, #2af598 20%, #009efd 80%);
}

.modal-footer .modal-delete-btn  {
  width: 120px;
  color: black;
  -webkit-transform: skew(-15deg);
  background-image: linear-gradient(50deg, #ffaaaa 20%, #ff8080 80%);
}

.modal-cancel-btn {
  width: 120px;
  -webkit-transform: skew(-15deg);
}

.modal-close-btn {
  width: 100px;
  -webkit-transform: skew(-15deg);
}

/*ページネーション*/
.pagination > li > a {          
  color: #696969;
}

/* ページネーションのページ番号 */
.pagination > .active > a {     
  background: #93c9ff;
}

/* ページネーション ホバー時 */
.pagination > li > a:hover {        
  background-color: rgba(255, 255, 0, 1);
}

/*スマホサイズのみ適用*/
@media screen and (max-width:576px) {
  .profile-image img {
    width : 150px;
    height: 150px;
  }
}